{{ define "webapp"}}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>WebApp</title>
        <link rel="stylesheet" href="/styles/webapp.css">
    </head>
    <body>
    <div class="container">
        <div class="lists"><b>В наличии:</b></div>
        <div class="cards">
            {{range .}}
                {{if ne .Stock 0}}
                    {{template "card" .}}
                {{ end}}
            {{ end}}
        </div>
        <div class="lists"><b>Под заказ:</b></div>
        <div class="cards">
            {{range .}}
                {{if eq .Stock 0}}
                    {{ template "card" .}}
                {{ end}}
            {{ end}}
        </div>
    </div>
    </body>
    </html>
{{end}}